[submodule "bookmarks_server"]
	path = bookmarks_server
	url = git@github.com:wtain/bookmarks_server.git
[submodule "bookmarks_database"]
	path = bookmarks_database
	url = git@github.com:wtain/bookmarks_database.git
[submodule "bookmarks_frontend"]
	path = bookmarks_frontend
	url = git@github.com:wtain/bookmarks_frontend.git
